#side {
  float: left;
}

.side-container {
  background-color: white;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 6px;
  height: 192;
  width: 290px;
  -webkit-box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.49);
  -moz-box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.49);
  box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.49);
  padding: 0;
  font-family: "HelveticaNeue";
}

#first-half {
  height: 96px;
  width: 100%;
  background-color: #0084B4 !important;
  border-bottom: 1px solid #e1e8ed;
  border-radius: 6px 6px 0px 0px;
}

#last-half {
  height: 95px;
  width: 100%;
}

#profile-image {
  height: 70px;
  width: 70px;
  border-radius: 10px;
  border: 4px solid white;
  background-color: #0084B4;
  position: relative;
  bottom: 38px;
  margin-left: 10px;
}

#camera {
  height: 50px;
  width: 50px;
  padding: 10px;
}

.user {
  font-family: "HelveticaNeue";
  position: relative;
  bottom: 77px;
  left: 100px;
}

#username {
  font-family: "HelveticaNeue-Bold";
  font-size: 20px;
}

#user-handle {
  color: grey;
  font-size: 12px;
}

.user-twitter {
  font-family: "HelveticaNeue";
  position: relative;
  bottom: 55px;
  right: 30px;
  color: grey;
  font-size: 12px;
}

#tweets {
  
}

#following {
  left: 0px;
}

#followers {
  left: 25px;
}

.number {
  font-family: "HelveticaNeue-Bold";
  color: #0084B4;
  position: relative;
  font-size: 18px;
}

#tweet-number {
  bottom: 55px;
  left: 35px;
}

#following-number {
  bottom: 55px;
  left: 115px;
}

#followers-number {
  bottom: 55px;
  left: 200px;
}

#trends {
  width: 260px;
  height: 220px;
  padding: 15px;
  color: #0084B4;
}

#trends-title {
  font-family: "HelveticaNeue-Light";
  font-size: 18px;
  color: #66757f;
}

#dot {
  color: #66757f;
  position: relative;
  bottom: 3px;
}

#change-text {
  font-size: 12px;
}

#list-trends li{
  display: block;
  padding: 2px;
  font-size: 14px;
}


